*{
    margin: 5px;
    padding: 0px;
}


h1{
    font-family: 'Calibri';
    color: white;
    text-align: center;
    background-color: firebrick;
    margin: 10px;
}

main{
    margin: 13px;
    font-family: 'Calibri';
    text-align: justify;
    font-size: 16px;
}

mark{
    color: white;
    background: firebrick;
}

.text-left{
    width: 70%;
    position: relative;
    float: left;
}

.img-right{
    float: right;
    width: 25%;
    position: relative;
}

li{
    text-indent: 25px;  
}




