header {
    background-color: #d4cbcb;
    border-bottom-style: dashed;
    border-bottom-color: #3F75F9;
    border-width: 5px;
    text-align: center;
    font-family: 'Calibri';
    color: #3F75F9;
    margin: 15px;
    font-size: 60px;
}

main {
    margin: 15px;
    font-size: 20px;
    font-family: 'Georgia';
    font-style: bold;
    text-align: justify;
    color: #777776
}

main h1 {
    font-size: 41px;
    color: #454545;
    font-family: 'Trebuchet MS';
}

main mark {
    background: #f3d583;
    Color: #777776
}

.img-right {
    width: 50%;
    float: right;
    position: relative;
}

.img-right img {
    height: 350px;
    width: 90%;
    align-self: right;
}

.text-left {
    width: 35%;
    float: left;
    position: relative;
}

footer {
    padding: 5px;
    margin: 15px;
    font-size: 20px;
    font-family: 'Georgia';
    font-style: bold;
    text-align: justify;
    color: #777776;
    clear: both;
}